/* Background */
.root {
    -fx-background-color: #f8f9fa;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
}


.list-view {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 10 0;
    -fx-border-color: transparent;
}

.list-cell {
    -fx-background-color: transparent;
    -fx-text-fill: #2c3e50;
    -fx-padding: 12 20;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-border-width: 0;
}

.list-cell:odd, .list-cell:even {
    -fx-background-color: transparent;
}

.list-cell:filled:selected {
    -fx-background-color: #e3f2fd;
    -fx-text-fill: #1976d2;
    -fx-background-radius: 10;
    -fx-background-insets: 2 10 2 10;
}

.list-cell:filled:hover {
    -fx-background-color: #f1f3f5;
    -fx-background-radius: 10;
    -fx-background-insets: 2 10 2 10;
}

/* 6. Scrollbar */
.list-view .scroll-bar:vertical {
    -fx-background-color: transparent;
    -fx-pref-width: 6;
}

.list-view .scroll-bar:vertical .thumb {
    -fx-background-color: #dee2e6;
    -fx-background-radius: 10;
}



/* Input  */
.text-field {
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-border-color: #dee2e6;
    -fx-background-color: white;
    -fx-padding: 8 15;
}

.text-field:focused {
    -fx-border-color: #3498db;
}

/* Add  */
.button {
    -fx-background-color: #2ecc71;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 20;
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: #27ae60;
}