/* --- General Adj --- */
.root {
    -fx-background-color: #f8f9fa;
    -fx-font-family: "Segoe UI", sans-serif;
}

/* --- Left City List --- */
.sidebar-container {
    -fx-background-color: white;
    -fx-background-radius: 30;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.03), 15, 0, 5, 0);
    -fx-padding: 20;
    -fx-max-height: 650px;
}

.list-view {
    -fx-background-color: transparent;
    -fx-padding: 10 0;
}

.list-cell {
    -fx-background-color: transparent;
    -fx-text-fill: #2c3e50;
    -fx-padding: 12 20;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
}

.list-cell:filled:selected {
    -fx-background-color: #e3f2fd;
    -fx-text-fill: #1976d2;
    -fx-background-radius: 10;
    -fx-background-insets: 2 10 2 10;
}
.list-view .scroll-bar:vertical {
    -fx-background-color: transparent;
    -fx-pref-width: 5;
    -fx-padding: 0 2 0 0;
}

.list-view .scroll-bar:vertical .thumb {
    -fx-background-color: #dee2e6;
    -fx-background-radius: 10;
}

.list-view .scroll-bar:vertical .track,
.list-view .scroll-bar:vertical .increment-button,
.list-view .scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent;
    -fx-shape: "";
}

/* --- Search Panel --- */
.search-container {
    -fx-padding: 30 20 10 20;
}

.text-field {
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-border-color: #dee2e6;
    -fx-background-color: white;
    -fx-padding: 8 15;
}

.add-button {
    -fx-background-color: #2ecc71;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 20;
    -fx-cursor: hand;
}

.add-button:hover {
    -fx-background-color: #27ae60;
}

/* --- Right Detail Panel --- */
.weather-detail-container {
    -fx-background-color: white;
    -fx-background-radius: 30;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.05), 20, 0, 0, 10);
    -fx-padding: 30 60 40 60;
    -fx-max-height: 650px;
}

.city-label {
    -fx-font-size: 45px;
    -fx-font-weight: bold;
    -fx-text-fill: #2c3e50;
}

.main-temp-label {
    -fx-font-size: 40px;
    -fx-font-weight: bold;
    -fx-text-fill: #e67e22;
    -fx-min-width: 0;
}

.info-label {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #95a5a6;
}

/* ---  Guess Cards --- */
.forecast-card {
    -fx-background-color: #f8f9fa;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-border-color: #ecf0f1;
    -fx-border-width: 2;
    -fx-min-width: 130;
    -fx-padding: 15;
    -fx-cursor: hand;
}

.forecast-card:hover {
    -fx-border-color: #3498db;
}

.forecast-card-selected {
    -fx-background-color: white;
    -fx-border-color: #3498db;
    -fx-effect: dropshadow(three-pass-box, rgba(52,152,219,0.2), 10, 0, 0, 5);
}

.forecast-date-label {
    -fx-font-weight: bold;
    -fx-text-fill: #2c3e50;
    -fx-font-size: 15px;
}

.forecast-max-temp {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #2c3e50;
}

.forecast-min-temp {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #7f8c8d;
}